extends index.jade

block append head
  link(rel="stylesheet", href="centaur-cir.css")

block content
  #brackets

  script(type="text/javascript", src=contents.js["d3.min.js"].url)
  script(type="text/javascript", src="centaur-cir.js")
