.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

text.keg-date {
  font: 12px sans-serif;
  stroke: #aaa;
  stroke-width: 0.8px;
  fill: none;
}

.line path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.legend {
  font: 12px sans-serif;
}
