extends article.jade

block append head
  link(rel="stylesheet", href=contents.css["the-beer-tree.css"].url)

block header
  h1= page.title

block append content
  #cost-comparison
    h2 Cost Comparison
    p The fair market value is the cost of the equivilent amount of beer purchased in six packs from the store.

  #keg-life
    h2 Rate of Consumption

  #calendar
    h2 Calendar
    p Coming soon

  script(src=contents.js["d3.min.js"].url)
  script(src=contents.js["the-beer-tree.js"].url)
